ale-py==0.11.2
docopt==0.6.2
gymnasium==1.1.1
imageio==2.37.0
ipdb==0.13.13
matplotlib==3.10.3
namedlist==1.8
numba==0.61.2
numpy==2.2.6
pandas==2.3.1
PyYAML==6.0.2
sacred==0.8.7
scikit-learn==1.7.1
scipy==1.16.0
setuptools==80.9.0
stable-baselines3==2.6.0
tensorboardX==2.6.4
torch==2.7.1
tqdm==4.67.1
z3-solver==4.15.1.0
