ale-py>=0.11
gymnasium>=1.2
ImageIO>=2.37
imageio-ffmpeg>=0.6
matplotlib>=3.10
mypy>=1.19
numba>=0.65
numpy>=2.4
opencv-python>=4.13
PyYAML>=6.0
sb3-contrib>=2.8.0
scikit-learn>=1.8
stable-baselines3>=2.8
tensorboard>=2.20
torch>=2.11
